<% content_for :title, "Edit Event" %>

<% if can_modify_event?(@event) %>

  <%= render partial: "edit_form", locals: { event: @event } %>

  <br>


<% else %>
  <div class="alert alert-danger">
    <h4>Access Denied</h4>
    <p>You don't have permission to edit this event.</p>
    <%= link_to "Back to event", @event, class: "btn btn-primary" %>
  </div>
<% end %>
