<% content_for :title, "New event" %>


<% if owner_signed_in? %>
  <%= render partial: "owner_form", locals: { event: @event } %>
<% elsif artist_signed_in? %>
  <%= render partial: "artist_form", locals: { event: @event } %>
<% else %>
  <p>You must be signed in as an owner or artist to create events.</p>
<% end %>

<br>

<div>
  <%= link_to "Back to events", events_path %>
</div>
