<div class="modal-header">
  <h5 class="modal-title"><%= venue.name %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body text-center">


  <% if venue.website.present? %>
    <p>
      <strong>Website:</strong><br>
      <%= link_to venue.website, venue.website, target: "_blank", rel: "noopener" %>
    </p>
  <% end %>

  <p><strong>Category:</strong> <%= venue.category %></p>
</div>
